.categories {
    width: 100%;
    max-width: 124.2rem;
    /* padding: 4rem;  */
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5rem;
    box-shadow: var(--box-shadow-1);
    border-radius: 1rem;
    border: 1px solid var(--clr-grey-light);
}

.search-form {
    font-family: var(--secondary-1-ff);
    display: flex;
}

.categories .category {
    position: relative;
    padding: 4rem;
    cursor: pointer; 
}

.categories .active {
    background-color: #fff;
    box-shadow: 0px -2px 1rem rgba(35, 35, 35, 0.1), 0px 1.5rem 2.5rem rgba(35, 35, 35, 0.08);
}

.categories .inactive {
    background-color: #E3E3E3;
}

.categories .category:first-child {
    flex-basis: 30%;
}

.categories .category:nth-child(2) {
    flex-basis: 35%;

}

.categories .category:nth-child(3) {
    flex-basis: 30%;
}


.categories .category:not(:nth-child(3))::after {
    display: inline-block;
    content: "";
    width: 3px;
    height: 6rem;
    background-color: #F1F1F1;
    position: absolute;
    top: 32%;
    right: 0;
} 

.categories .category__title {
    font-weight: 500;
    line-height: 1.9rem;
    margin-bottom: 1.75rem;
}

.categories .category__placeholder {
    font-size: 1.4rem;
    color: #5f5f5f;
    display: block;
    position: relative;
}

.categories .category__placeholder .min {
    position: relative;
    margin-right: 5rem;
}

.categories .category__placeholder .min::after {
    display: block;
    content: '';
    width: 1.6rem;
    height: 1px;
    position: absolute;
    right: -3rem;
    top: 50%;
    background-color: #5F5F5F;
}

.categories .category__placeholder::after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 8px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: url('../../../assets/images//icons/chevron-down.svg');
}

.categories .category__btn {
    padding: 2rem 4.4rem;
    align-self: center;
    margin-right: 4rem;
}

.categories .sub-menu {
    font-family: var(--primary-ff);
    background: #fff;
    box-shadow: var(--box-shadow-2);
    padding: 2.6rem 2.4rem;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
}

.categories .sub-menu .top {
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--clr-grey-light);
}

.categories .sub-menu .bottom {
    padding-top: 3.2rem;
}

.categories .sub-menu .bottom {
    display: flex;
    justify-content: space-between;
}

.categories .sub-menu .bottom .btn-save {
    padding: .8rem 1.6rem;
}