.l-header {

    .contact {
        width: 90%;
        margin: 0 auto;
        padding: 1.6rem 0;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &-list {
            display: flex;
        }

        &__item {
            display: flex;
            font-size: 1.2rem;

            img {
                margin-right: 1rem;
            }
        }

        &__item:first-child {
            margin-right: 2.4rem;
            padding-right: 2.3rem;
            border-right: 1px solid #E3E3E3;
        }

        &__item:last-child {
            margin-left: auto;
        }
    }
}