.p-featured-car {
    /* padding: 1rem 7rem; */
    /* display: flex; */
    width: 35.1rem;
}

.p-featured-car-details {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
}

.p-featured-car-details span {
    display: block;
}

.p-featured-car .right {
    margin-top: 2rem;
}

.p-featured-car__name {
    font-size: 3.2rem;
    font-weight: 500;
}

.p-featured-car__type,
.p-featured-car__model,
.p-featured-car__price {
    font-size: 1.9rem;
}

.p-featured-car__price {
    color: var(--clr-red);
    font-weight: 700;
}