.p-hiw-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.p-hiw-item__img-box {
    height: 15rem;
}

/* .p-hiw-item__img {
    width: 15rem;
    height: 15rem;
} */

/* .p-hiw-item__img img {
    max-width: 100%;
} */


.p-hiw-item__title {
    margin-bottom: 1.1rem;
    font-size: 3.6rem;
    font-weight: 500;
    /* align-self: flex-end; */
}

.p-hiw-item__text {
    text-align: center;
    font-size: 2.4rem;
    opacity: .8;
}