.p-visual {
    color: #fff;
    background: url('../../assets/images/main-visual/3d-render-fleet-delivery-vehicles\ 1.jpg') center;
    background-size: cover
}

.p-visual .content-box {
    padding-top: 9.7rem;
    padding-left: 10.8rem;
    height: 53rem;
}

.p-visual .p-visual__title {
    font-family: var(--typography-h1-ff);
    font-size: var(--typography-h1-fs);
    font-weight: var(--typography-h1-fw);
    line-height: var(--typography-h1-lh);
}

.p-visual .p-visual__text {
    color: var(--clr-grey-light);
    font-family: var(--secondary-2-ff);
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

.p-visual .p-visual__btn {
    font-family: var(--secondary-2-ff);
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 1rem 4.7rem;
}