@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

:root {
  --primary-ff: 'Poppins', 'san-serif';
  --secondary-1-ff: 'Roboto', 'san-serif';
  --secondary-2-ff: 'Inter', 'san-serif';

  --clr-red: #EE1B24;
  --clr-black: #232323;
  --clr-grey: #5F5F5F;
  --clr-grey-light: #E3E3E3;
  --clr-blue: #0F5EDD;
  --clr-blue-light: #E5EEFB;


  --box-shadow-1: 2rem 2rem 12rem 1.5rem rgba(0, 0, 0, 0.05);
  --box-shadow-2: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px .8rem 1.6rem rgba(48, 49, 51, 0.1);

  --typography-h1-ff: var(--primary-ff);
  --typography-h1-fw: 700;
  --typography-h1-fs: 6rem;
  --typography-h1-lh: 7.6rem;

  --typography-h2-ff: var(--primary-ff);
  --typography-h2-fw: 700;
  --typography-h2-fs: 4.8rem;
  --typography-h2-lh: 7.2rem;

  --typography-nav-ff: var(--secondary-2-ff);
  --typography-nav-fw: 500;
  --typography-nav-fs: 1.6rem;
  --typography-nav-lh: 4rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2 linear;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55.5%;
  }
}

body {
  font-family: var(--primary-ff);
  font-size: 1.6rem;
  color: var(--clr-black);
}

/* container */

.container {
  max-width: 136.6rem;
  margin: 0 auto;
}

.small-container {
  max-width: 90%;
}

/* button */

.btn--primary {
  background-color: var(--clr-red);
  color: #fff;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.btn--info {
  background-color: transparent;
  color: #B4B4B4  ;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

/* utils */

.u-d-block {
  display: block;
}

.u-d-none {
  display: none;
}

.u-border-radius-md {
  border-radius: 8px;
}

.u-border-radius-sm {
  border-radius: 5px;
}

.u-border-radius-semi {
  border-radius: 0px 5px 5px 0px;
}

.u-box-shadow-1 {
  box-shadow: 0px -2px 10px rgba(35, 35, 35, 0.1), 0px 15px 25px rgba(35, 35, 35, 0.08);
}

.u-abs-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-abs-center-ver {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.u-abs-center-hor {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.u-fw-600 {
  font-weight: 600;
}

.u-fw-500 {
  font-weight: 500;
}

.u-fw-700 {
  font-weight: 700;
}

.u-no-wrap {
  white-space: nowrap;
}

.u-text-red {
  color: var(--clr-red)
}